
.logo-text {
    font-family: 'Rabbid Highway Sign II Hop Regular';
    font-weight: normal;
}

.homepage {
    display: grid;
    grid-template-columns: 100%;

    grid-template-rows: 100vh repeat(3, 90vh) 95vh;
    justify-content: center;

}

.home {
    background-image: url('../assets/home-bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--color-base-bg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 150px;

}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;


}

.services{
    background-image: url('../assets/bg2.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-color: var(--color-base-bg);
    display: flex;
    justify-content: center;
}

.features{
    background-image: url('../assets/bg3.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-color: var(--color-base-bg);
    display: flex;
    justify-content: center;
}

.testimonials{
    background-image: url('../assets/bg2.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: var(--color-base-bg);
    display: flex;
    justify-content: center;
}

.footer{
    background-image: url('../assets/footer-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-size: 10%; */
    background-color: var(--color-base-bg);
    display: flex;
    justify-content: center;
    color: var(--color-base-text);
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1200px;
    height: 100%;
    justify-content: end;
}

.footer-container > .copyright{
    border-top: 1px solid var(--color-base-text);
    padding: 40px 0;
    color: var(--color-base-text);
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-about{
    width: 400px;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quick-links > p, .contact > p{
    font-size: 22px;
    font-weight: bold;
}

.contact{
    padding-top: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-div{
    display: flex;
    gap: 10px;
}

.contact-div > i{
    font-size: 20px;
    padding-top: 3px;
}

.testimonials-container {
    display: flex;
    align-items: center;
    width: 1300px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


.testimonial-card{
    margin-top: 80px;
    background-color: #ffffff;
    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 50px 20px;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-radius: 40px;

}
.testimonial-card>img{
    position: absolute;
    top: -60px;
}


.testimonial-card > .user-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.user-name{
    font-size: 30px;
    font-weight: bold;
}

.stars{
    font-size: 30px;
    color: gold;
}



.services-container {
    display: flex;
    align-items: center;
    width: 1300px;
    height: 100%;
    justify-content: space-between;
}

.features-container {
    display: flex;
    align-items: center;
    width: 1300px;
    height: 100%;
    justify-content: space-between;
}


.services-text{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.caption{
    color: #6A55E2;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 5px;
    font-weight: bold;
}

.header {

    background-color: #0F2B43;
    color: var(--color-base-text);
    /* background-color: #ffffff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 300px;
    font-size: x-large;
    flex-grow: 0;
    width: 100%;
    /* max-height: 80px; */
    /* height: min-content; */
    /* border-bottom: 2px solid var(--color-base-text); */
}

.logo-container {
    display: flex;
    align-content: center;
    color: var(--logo-text-color);
    padding-bottom: 4px;
}

.logo-container:hover{
    color: var(--logo-text-color-inv);
}


.logo-img {
    height: 46px;
}

.logo-text {
    font-size: 50px;
    display: flex;
    align-items: center;
    line-height: 0px;
    color: inherit;
}

.search-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    padding: 10px 4px;

}

.search-form{
    display: flex;
    width: 500px;
    border-radius: 12px;
    /* border: 3px solid;
    border-color: red; */

}

.search-form:focus-within{
    /* border-color: red; */
     box-shadow: 0 0 10px  #00ffff;
     animation: glow 1s infinite alternate;
    
}

.search-input {

    box-sizing: border-box;
    cursor:text;
    border: none;
    outline: none;
    padding: 8px 10px 9px 10px ;
    width: 100%;
    font-size: 15px;
    border-radius: 10px 0 0 10px;
    background: white;
    color: black;
}

.search-button {
    background: #F7CA63;
    color: black;
    padding: 7px 10px 6px 10px ;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
    transition: background 0.3s ease;
    font-size: 18px;
}

.search-button:hover {
    color: white;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.nav-links {
    display: flex;
    gap: 27px;
    padding: 8px 22px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: #133858;
    border-radius: 12px;
    margin: auto 0;
}

.nav-links:hover{
    background-color: #174770;

}

/* .header-link{
    
} */



.hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-container>img {
    width: 550px;

}

.hero-text {
    max-width: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 110px;
    /* padding-left: 30px; */
}


.hero-title {
    font-size: 50px;
    color: var(--color-base-text);
    font-weight: bold;
    line-height: normal;
}

.hero-info{
    font-size: 24px;
    color:  var(--greyish-text);
}


.normal-button {
    background: #F7CA63;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 22px;
}

.normal-button:hover {
    background: #79DCAF;
    color: white;
}

.fc{
    color: #6A55E2;
    margin-right: 5px;
}


.team-names> span{
    padding: 7px;
    /* border: 1px solid white; */
}


.team-names>#dk:hover{
    background-color: #53B2EE;
    font-weight: 1000;
    border-radius: 5px;
    
}
.team-names>#dk:hover::after{
    content: "🔥";
    
}

.team-names>#as:hover{
    background-color: #79DCAF;
    font-weight: 900;
    border-radius: 5px;
}
.team-names>#an:hover{
    background-color: #F7CA63;
    font-weight: 900;
    border-radius: 5px;
}